
</main>
</body>
<footer id="footer" class="page-footer">
    <div class="footer-copyright red">
        <div class="container grey-text text-lighten-4">
            © 2020 TheCocktailDB. Logo created on LogoMakr.com. Site designed and coded by Micah Ellis.
            <a href="https://www.linkedin.com/in/micahsellis/" class="grey-text text-lighten-4 right">
            <img src="/images/linkedin-3-xxl.png" alt="linkedin" width="20px"></a>
            <a class="grey-text text-lighten-4 right" href="mailto:micahellis.spam@gmail.com"><i class="material-icons left">email</i></a>
        </div>
    </div>
</footer>
</html>