<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <!-- <link rel="stylesheet" href="/public/stylesheets/mystyles.css"> -->
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <title>Drink Machine | <%= title %></title>
</head>
<body>
<div class="">
    <nav>
        <div class="">
            <a href="/" class="title">Drink Machine</a>
            <form action="/drinks/results" method="POST">
            <input type="text" name="search" value="<%=body%>" onfocus="this.value=''">
            <input type="submit" value="SEARCH"></form>
            <a href="/drinks/new">Add New Drink</a>
            <a href="/drinks/list">Your Drinks</a>
            <ul class="right">
                <li>
                    <% if (user) { %>
                    <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                    <% } else { %>
                    <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                    <% } %>
                </li>
            </ul>
        </div>
    </nav>
</div>