<%- include('../partials/header') %>

<div class="container">
    <div class="card">
        <div class="card-content">
            <form action="/drinks/new" method="POST">
                <div class="row">
                    <div class="input-field col s10">
                        <input type="text" name="name" required>
                        <label for="name"><span class="red-text" style="font-size: smaller;">*</span>Drink Name: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <select name="category" required>
                            <option value="" disabled seleted>Choose a category</option>
                            <option value="Alcoholic">Alcoholic</option>
                            <option value="Non alcoholic">Non alcoholic</option>
                            <option value="Optional alcohol">Optional alcohol</option>
                        </select>
                        <label for="category"><span class="red-text" style="font-size: smaller;">*</span>Category: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" name="instructions" required>
                        <label for="instructions"><span class="red-text" style="font-size: smaller;">*</span>Instructions: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" name="drinkImg">
                        <label for="drinkImg">Drink Image URL: </label>
                    </div>
                </div>
                <div class="container">
                    <h5> &nbsp;&nbsp; <span class="red-text" style="font-size: smaller;">*</span>Ingredients: <span class="red-text" style="font-size: 12px;">(at least one ingredient and measurement is required)</span></h5>
                    <div class="row">
                        <% for (let i=1; i<16; i++) { %>
                            <% let ingredient = 'ingredient' +i %>
                            <% let measure = 'measure' +i %>   
                            <% const markup = `
                            <div class="input-field col s6">
                                <input type="text" name="${ingredient}">
                                <label for="${ingredient}">ingredient</label>
                            </div>
                        <div class="input-field col s6">
                            <input type="text" name="${measure}">
                            <label for="${measure}">measurement</label>
                        </div>`
                            %> 
                            <%- markup %> 
                    <% }; %> 
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 center">
                        <% if (user) { %>
                            <label for="disabled">Author:</label>
                            <input name="author" disabled value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= user.name %>" id="disabled"><br><br>
                            <button class="btn lime accent-3 black-text" type="submit">Add Drink</button>
                        <% } else { %>
                            <p>You must be <a href="/auth/google">Logged In</a> to create a drink!</p>
                        <% }; %> 
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> 

<script>
    document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, Number);
    });
</script>
    
<%- include('../partials/footer') %>